node-red-flow/flows.json
[{"id":"c26aec15.1adb58","type":"tab","label":"Data Grab","disabled":false,"info":""},{"id":"3fda6513.ab5cd2","type":"websocket in","z":"c26aec15.1adb58","name":"EventSocket","server":"3896a039.d18a6","client":"","x":210,"y":280,"wires":[["65788d27.b18d64"]]},{"id":"6cd11c10.8055ec","type":"websocket in","z":"c26aec15.1adb58","name":"LogSocket","server":"5b3d60eb.d26098","client":"","x":200,"y":220,"wires":[["a85940e8.eab3d8"]]},{"id":"a85940e8.eab3d8","type":"file","z":"c26aec15.1adb58","name":"LogSocket Logger","filename":"/home/tony/node-red-logs/logsocket.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":470,"y":220,"wires":[[]]},{"id":"455c5707.b95628","type":"file","z":"c26aec15.1adb58","name":"EventSocket Logger","filename":"/home/tony/node-red-logs/eventsocket.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":680,"y":280,"wires":[[]]},{"id":"65788d27.b18d64","type":"function","z":"c26aec15.1adb58","name":"add timstamp","func":"payload = JSON.parse(msg.payload)\npayload[\"timestamp\"] = new Date().toISOString()\nmsg.payload = JSON.stringify(payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["455c5707.b95628"]]},{"id":"3896a039.d18a6","type":"websocket-listener","z":"","path":"ws://192.168.0.44/eventsocket","wholemsg":"false"},{"id":"5b3d60eb.d26098","type":"websocket-listener","z":"","path":"ws://192.168.0.44/logsocket","wholemsg":"false"}]